<div class="container mt-5">
  <h1 class="text-info">Student 1</h1>
  <div class="row">
    <div class="col-md-4">
      <app-std-form></app-std-form>
    </div>
    <div class="col-md-8">
      <app-std-table></app-std-table>
    </div>
  </div>
  <hr>
  <h1 class="text-danger">Student 2</h1>
  <div class="row">
    <div class="col-md-4">
      <app-std2-form></app-std2-form>
    </div>
     <div class="col-md-8">
      <app-std2-table></app-std2-table>
     </div>
  </div>
  <hr>
  <h1 class="text-warning">Student 3</h1>
  <div class="row">
    <div class="col-md-4">
     <app-std3-form></app-std3-form>
    </div>
    <div class="col-md-8">
      <app-std3-table></app-std3-table>
    </div>
  </div>
  <hr>
  <h1 class="text-primary">Student 4</h1>
  <div class="row">
    <div class="col-md-4">
     <app-std4-form></app-std4-form>
    </div>
    <div class="col-md-8">
       <app-std4-table></app-std4-table>
    </div>
  </div>
  <hr>
  <h1 class="text-success">Student 5</h1>
  <div class="row">
    <div class="col-md-4">
      <app-std5-form></app-std5-form>
    </div>
    <div class="col-md-8">
      <app-std5-table></app-std5-table>
    </div>
  </div>
</div>